.anchor {
  float: right;
}

.details {
  font-size: 1.1rem;
  margin: var(--spacing-s) var(--spacing-s) 0 0;
  color: var(--reddit-text-secondary);
}

.subreddit {
  font-weight: bold;
  margin-right: var(--spacing-s);
  color: black;
}
