@import '@/platform/_constants.scss';
@import '../../../_constants.scss';

.anchor {
  float: right;
}

.details {
  font-size: 1.1rem;
  margin: $spacingS $spacingS 0 0;
  color: $textSecondaryColor;
}

.subreddit {
  font-weight: bold;
  margin-right: $spacingS;
  color: $textColor;
}
