@import '../../../_constants.scss';

.anchor {
  float: right;
}

.details {
  font-size: 1.1rem;
  margin: 0.7rem 0.7rem 0 0;
  color: $textSecondaryColor;
}

.subreddit {
  font-weight: bold;
  margin-right: 0.8rem;
  color: $textColor;
}
