.aside {
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  flex: 0 0 5rem;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  color: black;
}

.comments {
  margin-left: var(--spacing-xs);
}

.footer {
  font-size: 1.4rem;
  margin: 0.7rem 0 1rem 0;
  color: var(--reddit-text-secondary);
}

.main {
  flex-grow: 1;
}

.post {
  display: flex;
  width: 55rem;
  margin: var(--spacing-l) auto 0 auto;
  color: black;
  border: 0.1rem solid var(--reddit-secondary);
  border-radius: var(--radius-s);
  background: white;

  &,
  * {
    cursor: pointer;
  }

  &:hover {
    border-color: hsl(from var(--reddit-secondary) h s calc(l - 20));
  }

  &.outdated {
    opacity: 0.5;

    filter: grayscale(100%);
  }
}

.title {
  font-weight: normal;
  margin: 1rem 1rem 1rem 0;
}

.thumbnail {
  background: var(--reddit-secondary);
}
