@import '../platform.constants';

.context-menu {
  position: fixed;
  background: $background-color;
  border-radius: 4px;
  margin: 0;
  z-index: 1000;
  padding: 0;
  min-width: 120px;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  font-size: 0.8em;
  user-select: none;
  color: $text-color;

  .item {
    padding: 3px 10px 3px 0;
    list-style: none;
    cursor: pointer;
    height: 20px;
    line-height: 20px;

    &:first-child {
      margin-top: 4px;
    }

    &:hover {
      background: lighten($background-color, 15%);
    }

    &:last-child {
      margin-bottom: 4px;
    }

    .icon {
      display: inline-block;
      width: 25px;
      text-align: center;
      padding-left: 3px;
    }

    .title {
      display: inline-block;
    }
  }
}
