@import '@/platform/_constants.scss';
@import '../../_constants.scss';

.icon {
  font-size: 1.6rem;
  margin-right: $spacingS;
  vertical-align: text-top;
}

.tab {
  font-family: $fontFamily;
  font-size: $fontSize;
  position: relative;
  display: inline-block;
  height: 100%;
  padding: 0 $spacingM;
  user-select: none;
  color: $textPrimaryColor;
  border: none;
  outline: none;
  background: none;

  &:disabled {
    opacity: 0.5;
  }

  &:not(:disabled) {
    &:hover,
    &[aria-selected='true'] {
      background: lighten($backgroundPrimaryColor, 10%);
    }

    &[aria-selected='true']::after {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 0.3rem;
      content: '';
      background: $secondaryColor;
    }
  }
}
