.statusBar {
  font-size: 1.1rem;
  line-height: 2.4rem;
  z-index: 1;
  overflow: hidden;
  box-sizing: border-box;
  height: 2.5rem;
  padding: 0 var(--spacing-s);
  text-align: right;
  color: var(--ce-text-primary);
  border-top: 0.1rem solid var(--ce-border-primary);
  background: var(--ce-bg-primary);
}
