@import '../../constants';

.controls {
  flex-grow: 1;
}

.header {
  display: flex;
  height: 80px;
}

.miniPlayer {
  font-family: $fontFamily;
  font-size: 0.8em;
  height: 100%;
  color: $textColor;
}

.musicInfo {
  line-height: 20px;
  display: block;
  overflow: hidden;
  flex: 0 0 20px;
  margin: 0 15px;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}
