@import '../../platform/constants';
@import 'constants';

.dicomViewer {
  font-family: $fontFamily;
  font-size: 1.3rem;
  position: relative;
  display: flex;
  height: 100%;
  color: $color;

  * {
    user-select: none;
  }
}

.button {
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 0.3rem 0.5rem;
  color: $color;
  border: 0.1rem solid $color;
  border-radius: $radius;
  outline: none;
  background: $backgroundColor;

  &:active:hover {
    background: lighten($backgroundColor, $lightenAmountLevel2);
  }

  &:hover {
    background: lighten($backgroundColor, $lightenAmountLevel1);
  }
}

.error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
}
