.jamendoLink {
  font-family: var(--mp3-font-lcd), monospace;
  font-size: 1.6rem;
  display: block;
  margin-top: auto;
  padding-top: 1.6rem;
  letter-spacing: 0.1rem;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  outline: none;

  &,
  &:active,
  &:focus,
  &:hover {
    color: var(--mp3-lcd-dim);
  }

  &:focus,
  &:hover {
    color: var(--mp3-lcd);
    text-shadow: 0 0 0.7rem var(--mp3-lcd-glow);
  }
}
