.mp3PlayerTitleBar {
  color: var(--mp3-text);
}

.mp3PlayerWindow {
  border-color: hsl(from var(--mp3-bg) h s calc(l - 5));
  background: var(--mp3-bg);
}

.body {
  display: flex;
  overflow: hidden;
  flex: 0 1 100%;
}

.footer {
  flex: 0 0 7.7rem;
}

.musics {
  flex: 1 1 auto;
}

.player {
  font-family: var(--font-family), sans-serif;
  font-size: 1.4rem;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: var(--mp3-text);

  &,
  * {
    cursor: default;
    user-select: none;
  }
}

.sidebar {
  flex: 0 0 auto;
}
