@import '../../../../../../constants';

.element,
.grid {
  stroke-width: 2;
}

.element {
  position: absolute;
  width: 30%;
  height: 30%;
  transform: translate(-50%, -50%);

  fill: $textPrimaryColor;
  stroke: $textPrimaryColor;
}

.grid,
.highlighted {
  fill: #29b9ad;
  stroke: #29b9ad;
}
