.preview {
  height: 50%;
  width: 100%;
}

.sidebar {
  width: 40%;
}

.sidebar,
.viewport {
  height: 100%;
  display: inline-block;
}

.viewport {
  padding: 30px 0 30px 30px;
  box-sizing: border-box;
  width: 57%;
}
