@import './constants';

.buttonLink {
  font-family: $fontFamily;
  padding: 0;
  color: inherit;
  border: none;
  outline: none;
  background: none;

  &:not([disabled]) {
    cursor: pointer;
  }

  &:hover:not([disabled]) {
    text-decoration: underline;
  }
}

.player {
  font-family: $fontFamily;
  font-size: 0.8em;
  color: $textColor;
}
