@import './constants';

.button {
  display: inline-block;
  margin-right: 15px;
  margin-left: 15px;
  padding: 0;
  vertical-align: middle;
  color: $textColor;
  border: 0;
  outline: 0;
  background: transparent;

  & + & {
    margin-left: 0;
  }

  &:active,
  &.checked {
    color: $primaryColor;
  }

  &:hover {
    color: lighten($textColor, 15%);
  }
}

.defaultPreview {
  text-align: center;
  color: #000;
  background: #fff;
}

.player {
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  font-size: 0.8em;
  color: $textColor;
}
