.defaultPreview {
  font-size: 56px;
  line-height: 70px;
}

.flex {
  display: flex;
}

.left {
  flex-grow: 1;
}

.musicInfo {
  line-height: 20px;
  display: block;
  overflow: hidden;
  flex: 0 0 20px;
  margin: 0 15px;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.musicPreview {
  flex: 0 0 70px;
  height: 70px;
  margin-right: 15px;
  background-repeat: no-repeat;
  background-size: 70px;
}
