@import '../../../../platform/constants';
@import '../../constants';

$previewSize: 3.5rem;

.album,
.artistName {
  font-size: $secondaryTextSize;
  color: $secondaryTextColor;
}

.artistName {
  margin: 0.3rem 0 0;
}

.header {
  flex: 0 0 auto;
  padding-right: 0.8rem;
}

.listInfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;

  h2 {
    margin: auto 0;
  }
}

.menuButton {
  font-size: 3rem;
  margin-right: 1ch;
}

.musicList {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 1.5rem 1.5rem 1.5rem;

  table {
    width: calc(100% - 1rem);
    table-layout: fixed;
    border-collapse: collapse;

    td {
      position: relative;
      overflow: hidden;
      height: 4.6rem;
      padding-right: 1.5rem;
      user-select: text;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    tr {
      color: $textColor;
      border-bottom: 0.1rem solid lighten($backgroundColor, 5%);

      .colPreview {
        width: $previewSize;
        padding-left: 0.7rem;
      }
    }

    tbody tr {
      &.active {
        color: $primaryColor;

        .inlineMusicPreview {
          background-color: transparent;
          background-image: none !important;

          .previewIcon {
            display: inherit;
          }
        }
      }

      &.active:hover .inlineMusicPreview {
        i:hover:not(:active) {
          color: lighten($primaryColor, 10%);
        }
      }

      &:hover {
        background: lighten($backgroundColor, 2%);

        .inlineMusicPreview {
          background-color: transparent;
          background-image: none !important;

          .previewIcon {
            display: inherit;
          }

          i:active {
            color: $primaryColor;
          }

          i:hover:not(:active) {
            color: lighten($textColor, 10%);
          }
        }
      }

      .inlineMusicPreview {
        width: $previewSize;
        height: $previewSize;
        text-align: center;
        background-repeat: no-repeat;
        background-size: $previewSize;

        .previewIcon {
          font-size: $previewSize;
          line-height: $previewSize;
          display: none;
        }
      }
    }
  }
}

.musicName {
  margin: 0;
}

.overflow {
  overflow-x: hidden;
  overflow-y: auto;
  flex-grow: 1;

  &::-webkit-scrollbar {
    width: 0.8rem;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background: $secondaryColor;
  }

  &::-webkit-scrollbar-track {
    border-radius: 0.5rem;
  }
}

.select {
  font-family: $fontFamily;
  color: $textColor;
  border-color: $secondaryColor;

  select:focus {
    border-color: $primaryColor;
  }
}

.tableHeader {
  width: 100%;

  th {
    padding: 0.3rem 1.5rem 1rem 0;
    text-align: left;
  }
}

@media only screen and (max-width: $mobileBreakpoint) {
  .album,
  .tableHeader {
    display: none;
  }

  .listInfo {
    margin-top: 0.5rem;
  }
}
