@import '../../constants';

.bar {
  position: relative;
  width: 0;
  background: #efefef;
}

.barContainer {
  background: $secondaryColor;
}

.barContainer,
.bar {
  height: 4px;
  border-radius: 2px;
}

.progressBar {
  flex-grow: 1;
  margin: auto 0;
  padding: 6px 0;
}

.progressBar:hover .bar,
.seeking .bar {
  background: $primaryColor;
}

.progressBar:hover .bar:after,
.seeking .bar:after {
  position: absolute;
  top: -3px;
  right: -5px;
  width: 10px;
  height: 10px;
  content: '';
  border-radius: 5px;
  background: $primaryColor;
}
