@import '../../../../constants';

.musicInfo {
  height: 6.2rem;
  line-height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: hidden;
  flex: 0 0 20ch;
  white-space: nowrap;
  text-overflow: ellipsis;

  .artist {
    font-size: 0.8em;
  }

  .artist,
  .name {
    overflow: hidden;
    user-select: text;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
