@import '@/platform/_constants.scss';

.visibleArea {
  position: relative;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
}

@media only screen and (max-width: $mobileBreakpoint) {
  .visibleArea {
    margin: 0;
  }
}

@media only screen and (min-width: $mobileBreakpoint + 0.1px) {
  .visibleArea {
    margin: $spacingXs $spacingXs $spacingXs 0;
  }
}
