.error {
  color: #ea4848;
  border-top: 0.1rem solid hsl(from #ea4848 h s calc(l - 30));
  border-bottom: 0.1rem solid hsl(from #ea4848 h s calc(l - 30));
  background: rgba(234, 72, 72, 0.05);

  & + & {
    margin-top: -0.1rem;
  }
}

.errorStack {
  opacity: 0.8;
}

.info {
  color: var(--ce-text-secondary);

  & + & {
    border-top: 0.1rem solid hsl(from var(--ce-text-secondary) h s calc(l - 40));
  }
}

.log {
  padding: var(--spacing-4) var(--spacing-8);
}

.logs {
  font-size: 1.2rem;
  overflow-y: auto;
  box-sizing: border-box;
  white-space: pre-wrap;
  background: var(--ce-bg-secondary);
  scrollbar-color: var(--ce-bg-tertiary) transparent;

  overflow-wrap: break-word;
}
