@import '../../constants';

.icon {
  position: absolute;
  right: 1rem;
  height: 100%;
  pointer-events: none;
  line-height: 2.1rem;
}

.select {
  $line-height: 2.1rem;

  display: inline-block;
  width: 13rem;
  position: relative;
  margin-left: auto;
  border: 0.1rem solid;
  border-radius: 0.5rem;
  overflow: hidden;

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    padding: 0.6rem 3rem 0.6rem 1rem;
    border: none;
    width: 100%;
    outline: none;
    font-size: 1.3rem;
    line-height: $line-height;
    color: inherit;
  }
}
