@import '@/platform/_constants.scss';

.container {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 13rem;
  margin-left: auto;
}

.icon {
  position: absolute;
  top: 50%;
  right: 1rem;
  height: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.select {
  font-size: 1.3rem;
  line-height: 2.1rem;
  width: 100%;
  padding: 0.6rem 3rem 0.6rem 1rem;
  color: inherit;
  border: 0.1rem solid;
  border-radius: 0.5rem;
  outline: none;
  background: transparent;

  -webkit-appearance: none;
  -moz-appearance: none;
}
