.menu {
  margin: var(--spacing-20) 0 0 var(--spacing-20);
  padding: var(--spacing-8) var(--spacing-12);
  color: black;
  border: 0.1rem solid var(--reddit-secondary);
  border-radius: var(--radius-8);
  background: white;
}
