.menu {
  margin: var(--spacing-l) 0 0 var(--spacing-l);
  padding: var(--spacing-s) var(--spacing-m);
  color: black;
  border: 0.1rem solid var(--reddit-secondary);
  border-radius: var(--radius-s);
  background: white;
}
