@import '@/platform/_constants.scss';
@import '../../_constants.scss';

.menu {
  margin: $spacingL 0 0 $spacingL;
  padding: $spacingS $spacingM;
  color: $textColor;
  border: 0.1rem solid $borderColor;
  border-radius: $radiusXs;
  background: $backgroundSecondaryColor;
}
