@import '../../constants';

.menu {
  margin: 2rem 0 0 2rem;
  padding: 1.5rem 2rem;
  color: $textColor;
  border: 0.1rem solid $borderColor;
  border-radius: 0.4rem;
  background: $backgroundSecondaryColor;
}
