.button {
  font-family: var(--font-family), sans-serif;
  font-size: inherit;
  display: inline-block;
  padding: 0;
  vertical-align: middle;
  color: var(--mp3-text);
  border: none;
  outline: none;
  background: none;

  &:disabled {
    opacity: 0.5;
  }

  &:not(:disabled) {
    &:hover {
      color: hsl(from var(--mp3-text) h s calc(l + 20));
    }

    &:active {
      color: var(--primary-color);
    }

    &:active,
    &.checked {
      &:hover {
        color: hsl(from var(--primary-color) h s calc(l + 20));
      }
    }
  }

  &.checked {
    color: var(--primary-color);
  }
}
