@import '../../constants';

ul.autoCompletionMenu {
  @include scrollbar;

  overflow: auto;
  min-width: 15rem;
  max-height: 12rem;
  margin-top: 1.7rem;
  margin-left: -0.7rem;
  border: 0.1rem solid #2e2e2e;
  border-radius: 0.1rem;
  background: #505254;

  li:first-child,
  li:last-child {
    margin: 0;
  }

  button {
    font-family: $fontFamily;
    font-size: 1.2rem;
    line-height: 1.4rem;
    height: 2rem;
    padding: 0.3rem 0.6rem;
    color: #b8babc;

    &[aria-current='true'] {
      background: #5b5d61;
    }

    > div:first-child {
      display: none;
    }

    mark {
      color: $primaryColor;
      background: transparent;
    }
  }
}

.close {
  margin-left: 0.7rem;
}

.code::before {
  position: absolute;
  top: 0;
  left: calc(0.7rem + 80ch);
  height: 100%;
  content: '';
  border-right: 0.1rem solid #484848;
}

.code,
.textarea {
  @include scrollbar;

  font-family: $fontFamily;
  font-size: $fontSize;
  line-height: $lineHeight;
  position: absolute;
  z-index: 0;
  top: 2.7rem;
  left: 7rem;
  overflow-y: auto;
  box-sizing: border-box;
  width: calc(100% - 7rem);
  height: calc(100% - 2.7rem);
  padding: 0.5rem 0.7rem;
  white-space: pre-wrap;
  border: none;
  outline: none;

  overflow-wrap: break-word;
}

.dragAndDropOverlay {
  font-size: 2rem;
  position: absolute;
  z-index: 1;
  top: 2.8rem;
  bottom: 0.1rem;
  left: 7.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: calc(100% - 7.2rem);
  pointer-events: none;
  border: 0.3rem dashed $textPrimaryColor;
  background: #2b2b2b;
}

.editor {
  position: relative;
  color: $textSecondaryColor;
  background: $backgroundSecondaryColor;
}

.lineNumbers {
  position: absolute;
  top: 2.7rem;
  bottom: 0;
  left: 3rem;
}

.tabs {
  position: absolute;
  top: 0;
  right: 0;
  left: 3rem;
}

.toolbar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.textarea {
  z-index: 1;
  resize: none;
  color: transparent;
  background: transparent;

  caret-color: #f0f0f0;
}
