@import '../../../../../platform/constants';
@import '../../../../constants';

.loading {
  animation: loading 1s 0s ease-in-out infinite;
}

.runIndicator {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 0.3rem;
  background: $primaryColor;
}

.task {
  @include clearButton;

  font-size: 3.6rem;
  line-height: 6rem;
  position: relative;
  display: inline-block;
  width: 6rem;
  height: 6rem;
  text-align: center;

  &:hover,
  &.taskButtonActive {
    background: lighten($backgroundColor, $lightenAmountLevel1);
  }

  &.windowInstanceActive {
    background: lighten($backgroundColor, $lightenAmountLevel2);

    &:hover,
    &.taskButtonActive {
      background: lighten($backgroundColor, $lightenAmountLevel3);
    }
  }
}

@keyframes loading {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
