@import '../../../../constants';

.taskBar {
  z-index: 999;
  flex-basis: 6rem;
  flex-grow: 0;
  flex-shrink: 0;
  height: 100vh;
  color: $textColor;
  outline: none;
  background: $backgroundColor;
}

@media only screen and (max-width: $mobileBreakpoint) {
  .taskBar {
    display: none;
  }
}
