.about {
  position: relative;
  display: flex;
  margin: 0.2rem 0;
}

.photo {
  width: 20.2rem;
  height: 26.9rem;
}

.help {
  color: #c5c5c5;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 3.5rem;

  p {
    margin: 0;
  }
}

.resume {
  font-size: 3.9rem;
  max-width: 22ch;
}

.social {
  font-size: 2.2rem;

  a + a {
    margin-left: 0.9rem;
  }
}
