$backgroundPrimaryColor: #45484a;
$backgroundSecondaryColor: #2b2b2b;
$backgroundTertiaryColor: #383a3d;
$fontFamily: Source Code Pro, PT Mono, Consolas, Monaco, Andale Mono,
  Ubuntu Mono, monospace;
$fontSize: 1.2rem;
$linHeight: 1.2;
$textSecondaryColor: #a3b7c6;

@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 0.8rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $backgroundTertiaryColor;
    border-radius: 0.5rem;

    &:hover {
      background-color: #646464;
    }
  }

  &::-webkit-scrollbar-track {
    border-radius: 0.5rem;
  }
}
