@import '@/platform/_constants.scss';

$primaryColor: #cc7832;
$secondaryColor: #007ad8;
$backgroundPrimaryColor: #434548;
$backgroundSecondaryColor: #2b2b2b;
$backgroundTertiaryColor: #383a3d;
$borderColorPrimary: darken($backgroundPrimaryColor, 5%);
$borderColorTertiary: #606060;
$fontFamily: 'JetBrainsMono', monospace;
$fontSize: 1.3rem;
$lineHeight: 2.2rem;
$textPrimaryColor: #c3c3c3;
$textSecondaryColor: #a3b7c6;
$textTertiaryColor: #70808c;
$toolbarWidth: 3.6rem;

@font-face {
  font-family: 'JetBrainsMono';
  font-weight: 400;
  font-style: normal;

  font-display: swap;
  src:
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2')
      format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff')
      format('woff'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/ttf/JetBrainsMono-Regular.ttf')
      format('truetype');
}

@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 0.8rem;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: $radiusXs;
    background-color: $backgroundTertiaryColor;

    &:hover {
      background-color: #646464;
    }
  }

  &::-webkit-scrollbar-track {
    border-radius: $radiusXs;
  }
}
