@import '@/platform/_constants.scss';

$primaryColor: #cc7832;
$secondaryColor: #007ad8;
$backgroundPrimaryColor: #434548;
$backgroundSecondaryColor: #2b2b2b;
$backgroundTertiaryColor: #383a3d;
$borderColorPrimary: darken($backgroundPrimaryColor, 5%);
$borderColorTertiary: #606060;
$fontFamily: 'JetBrainsMono', monospace;
$fontSize: 1.3rem;
$lineHeight: 2.2rem;
$tabsHeight: 3.6rem;
$textPrimaryColor: #c3c3c3;
$textSecondaryColor: #a3b7c6;
$textTertiaryColor: #70808c;
$toolbarWidth: 5rem;

@mixin menu {
  @include scrollbar;

  border: 0.1rem solid #2e2e2e;
  border-radius: $radiusS;
  background: #505254;

  button {
    font-family: $fontFamily;
    font-size: 1.3rem;
    line-height: 1.4rem;
    padding: $spacingS;
    color: #b8babc;
    border-radius: $radiusS;

    &[aria-current='true'] {
      background: #5b5d61;
    }
  }
}

@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 0.8rem;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: $radiusXs;
    background-color: $backgroundTertiaryColor;

    &:hover {
      background-color: #646464;
    }
  }

  &::-webkit-scrollbar-track {
    border-radius: $radiusXs;
  }
}
