@font-face {
  font-family: 'JetBrainsMono';
  font-weight: 400;
  font-style: normal;

  font-display: swap;
  src:
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2')
      format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff')
      format('woff'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/ttf/JetBrainsMono-Regular.ttf')
      format('truetype');
}

.close {
  margin-left: 0.7rem;
}

.codeEditorTitleBar {
  color: var(--ce-text-primary);
}

.codeEditorWindow {
  border-color: hsl(from #45484a h s calc(l - 5));
  background: #45484a;
}

.codeEditor {
  font-family: var(--ce-font-family), monospace;
  line-height: var(--ce-line-height);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.console {
  flex-grow: 0;
  flex-shrink: 0;
}

.editor {
  position: relative;
  flex-grow: 1;
  flex-shrink: 1;
  color: var(--ce-text-secondary);
  background: var(--ce-bg-secondary);
}

ul.newFileMenu {
  border: 0.1rem solid var(--ce-border-primary);
  border-radius: var(--radius-s);
  background: var(--ce-bg-primary);
  scrollbar-color: var(--ce-bg-tertiary) transparent;

  button {
    font-family: var(--ce-font-family), monospace;
    font-size: 1.3rem;
    line-height: 1.4rem;
    padding: var(--spacing-s);
    color: var(--ce-text-primary);
    border-radius: var(--radius-s);

    &[aria-current='true'] {
      background: hsl(from var(--ce-bg-primary) h s calc(l + 10));
    }
  }

  width: 20rem;
  height: 22rem;
  transform: translate(-50%, -50%);
}

.resizeBar {
  z-index: 1;
  flex: 0 0 1rem;
  box-sizing: border-box;
  cursor: row-resize;
  color: var(--ce-text-primary);
  border-top: 0.1rem solid var(--ce-border-primary);
  border-bottom: 0.1rem solid var(--ce-border-primary);
  background: var(--ce-bg-primary);
}

.tabs {
  position: absolute;
  top: 0;
  right: 0;
  left: var(--ce-toolbar-width);
  height: var(--ce-tabs-height);
}

.toolbar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: var(--ce-toolbar-width);
}
