.codeEditor {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  & > * {
    flex-grow: 0;
    flex-shrink: 1;
    min-width: 0;
    box-sizing: border-box;

    &:first-child,
    &:last-child {
      flex-basis: 50%;
    }
  }
}
