@import 'constants';

.codeEditor {
  font-family: $fontFamily;
  line-height: $lineHeight;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  & > * {
    flex-grow: 0;
    flex-shrink: 1;
    min-width: 0;
  }
}

.editor {
  flex-basis: 60%;
}

.console {
  flex-basis: 40%;
}
