@import url('https://fonts.googleapis.com/css?family=Kalam');

.textarea {
  font-family: 'Kalam', cursive;
  font-size: 1.5em;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 1rem;
  resize: none;
  border: 0;
  outline: none;
  background: #fff59c;
}
