.album,
.artistName {
  font-size: var(--mp3-text-size);
  color: var(--mp3-text-secondary);
}

.artistName {
  margin: var(--spacing-xs) 0 0;
}

.header {
  flex: 0 0 auto;
  padding-right: var(--spacing-s);
}

.listInfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;

  h2 {
    margin: auto 0;
  }
}

.musicList {
  display: flex;
  flex-direction: column;
  margin: var(--spacing-s) var(--spacing-m) var(--spacing-m) var(--spacing-m);

  table {
    width: calc(100% - 1rem);
    table-layout: fixed;
    border-collapse: collapse;

    td {
      position: relative;
      overflow: hidden;
      height: 4.6rem;
      padding-right: var(--spacing-l);
      user-select: text;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    tr {
      height: 6rem;
      color: var(--mp3-text);
      border-bottom: 0.1rem solid hsl(from var(--mp3-bg) h s calc(l + 5));

      .colPreview {
        width: 3.5rem;
        padding-left: 0.7rem;
      }
    }

    tbody tr {
      &.active {
        color: var(--primary-color);

        .inlineMusicPreview {
          background-color: transparent;
          background-image: none !important;

          .previewIcon {
            display: inherit;
          }
        }
      }

      &.active:hover .inlineMusicPreview {
        i:hover:not(:active) {
          color: hsl(from var(--primary-color) h s calc(l + 10));
        }
      }

      &:hover {
        background: hsl(from var(--mp3-bg) h s calc(l + 2));

        .inlineMusicPreview {
          background-color: transparent;
          background-image: none !important;

          .previewIcon {
            display: inherit;
          }

          i:active {
            color: var(--primary-color);
          }

          i:hover:not(:active) {
            color: hsl(from var(--mp3-text) h s calc(l + 10));
          }
        }
      }

      .inlineMusicPreview {
        width: 3.5rem;
        height: 3.5rem;
        text-align: center;
        background-repeat: no-repeat;
        background-size: 3.5rem;

        .previewIcon {
          font-size: 3.5rem;
          line-height: 3.5rem;
          display: none;
        }
      }
    }
  }
}

.musicName {
  margin: 0;
}

.overflow {
  overflow-x: hidden;
  overflow-y: auto;
  flex-grow: 1;
  scrollbar-color: var(--mp3-secondary) transparent;
}

.select {
  font-family: var(--font-family), sans-serif;
  color: var(--mp3-text);
  border-color: var(--mp3-secondary);

  select:focus {
    border-color: var(--primary-color);
  }
}

.tableHeader {
  width: 100%;

  th {
    padding: var(--spacing-xs) var(--spacing-l) var(--spacing-m) 0;
    text-align: left;
  }
}
