@import '../../constants';

.container {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 20px);
  margin: 20px 0 0 -10px;
}

.renderer {
  max-height: 100px;
  margin: 12px;
  cursor: pointer;

  &:hover {
    filter: brightness(115%);
  }
}

.selectRenderer {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  transform: translate(-50%, -50%);

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: $radius;
    background: lighten($background-color, 15%);
  }

  &::-webkit-scrollbar-track {
    border-radius: $radius;
  }

  h1 {
    margin-top: 0;
  }
}
