.colorWindow {
  margin: 0 8px;
}

.container {
  list-style: none;
  padding-left: 3px;
  margin: 0;

  li {
    display: flex;
    align-items: center;
    height: 17px;
  }
}

.addIcon {
  cursor: pointer;
  font-size: 1.1em;
}

.trashIcon {
  cursor: pointer;
  font-size: 0.8em;
}
