.colorWindow {
  margin: 0 0.8rem;
}

.container {
  list-style: none;
  padding-left: 0.3rem;
  margin: 0;

  li {
    display: flex;
    align-items: center;
    height: 1.7rem;
  }
}

.addIcon {
  cursor: pointer;
  font-size: 1.1em;
}

.trashIcon {
  cursor: pointer;
  font-size: 0.8em;
}
