@import '@/platform/_constants.scss';
@import '../../_constants.scss';

$buttonSize: $toolbarWidth - $spacingXs * 2;

.toolButton {
  $color: #b8babc;

  font-size: calc($toolbarWidth / 2.2);
  display: flex;
  align-items: center;
  justify-content: center;
  width: $buttonSize;
  height: $buttonSize;
  padding: 0;
  vertical-align: middle;
  color: $color;
  border: 0.1rem solid transparent;
  border-right: 0;
  border-radius: $radiusS 0 0 $radiusS;
  outline: none;
  background: none;

  &:disabled {
    opacity: 0.5;
  }

  &:not(:disabled) {
    &:hover {
      border-color: $borderColorPrimary;
      background: lighten($backgroundPrimaryColor, 10%);
    }

    &:active {
      color: $primaryColor;
    }
  }
}

.tooltip {
  font-family: $fontFamily;
  font-size: $fontSize;
  line-height: $buttonSize;
  display: flex;
  box-sizing: border-box;
  height: $buttonSize;
  margin: 0;
  padding: 0 $spacingM 0 $spacingS;
  color: #b8babc;
  border: 0.1rem solid $borderColorPrimary;
  border-left: 0;
  border-radius: 0 $radiusS $radiusS 0;
  background: lighten($backgroundPrimaryColor, 10%);
}
