.toolButton {
  font-size: calc(var(--ce-toolbar-width) / 2.2);
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--ce-button-size);
  height: var(--ce-button-size);
  padding: 0;
  vertical-align: middle;
  color: var(--ce-text-primary);
  border: 0.1rem solid transparent;
  border-right: 0;
  border-radius: var(--radius-8) 0 0 var(--radius-8);
  outline: none;
  background: none;

  &:disabled {
    opacity: 0.5;
  }

  &:not(:disabled):hover {
    border-color: var(--ce-border-primary);
    background: hsl(from var(--ce-bg-primary) h s calc(l + 10));
  }
}

.tooltip {
  font-family: var(--ce-font-family), monospace;
  font-size: var(--ce-font-size);
  line-height: var(--ce-button-size);
  display: flex;
  box-sizing: border-box;
  height: var(--ce-button-size);
  margin: 0;
  padding: 0 var(--spacing-12) 0 var(--spacing-8);
  color: var(--ce-text-primary);
  border: 0.1rem solid var(--ce-border-primary);
  border-left: 0;
  border-radius: 0 var(--radius-8) var(--radius-8) 0;
  background: hsl(from var(--ce-bg-primary) h s calc(l + 10));
}
