@import '../../constants';

$buttonSize: 2.4rem;

.toolButton {
  $color: #b8babc;

  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: $buttonSize;
  height: $buttonSize;
  padding: 0;
  vertical-align: middle;
  color: $color;
  border: none;
  border-radius: 0.3rem;
  outline: none;
  background: none;

  &:disabled {
    opacity: 0.5;
  }

  &:not(:disabled) {
    &:hover {
      background: lighten($backgroundPrimaryColor, 10%);
    }

    &:active {
      color: $primaryColor;
    }
  }
}

.tooltip {
  font-family: $fontFamily;
  font-size: 1.2rem;
  line-height: $buttonSize;
  display: flex;
  box-sizing: border-box;
  height: $buttonSize;
  margin: 0 0 0 -0.3rem;
  padding: 0 0.6rem;
  color: #b8babc;
  border: none;
  border-radius: 0 0.4rem 0.4rem 0;
  background: lighten($backgroundPrimaryColor, 10%);
}
