.defaultPreview {
  height: 6.25rem;
  text-align: center;
  color: #000;
  background: #fff;
}

.musicPreview {
  flex: 0 0 6.25rem;
  height: 6.25rem;
  margin-right: 1.5rem;
  background-repeat: no-repeat;
  background-size: 7rem;
}
