.defaultPreview {
  line-height: 1.25em;
  text-align: center;
  color: #000;
  background: #fff;
}

.musicPreview {
  flex: 0 0 1.25em;
  height: 1.25em;
  margin-right: 15px;
  background-repeat: no-repeat;
  background-size: 70px;
}
