@import '../../constants';

.mouseTool {
  font-size: 2rem;
  position: relative;
  display: block;
  width: 3.2rem;
  height: 3.2rem;
  padding: 0.3rem 0.5rem;
  color: $color;
  border: 0.1rem solid $color;
  border-radius: 0;
  outline: none;
  background: transparentize($backgroundColor, 0.4);

  &:active:hover {
    background: lighten($backgroundColor, 25%);
  }

  &:hover {
    background: lighten($backgroundColor, 15%);
  }

  &:first-child {
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;

    &.activeLeft:before {
      border-top-left-radius: $radius;
    }

    &.activeRight:before {
      border-top-right-radius: $radius;
    }
  }

  &:last-child {
    border-bottom-right-radius: $radius;
    border-bottom-left-radius: $radius;

    &.activeLeft:before {
      border-bottom-left-radius: $radius;
    }

    &.activeRight:before {
      border-bottom-right-radius: $radius;
    }
  }

  &:not(:last-child) {
    border-bottom: none;
  }

  &.activeLeft:before {
    left: -0.1rem;
  }

  &.activeLeft.activeRight:before {
    width: 3.2rem;
  }

  &.activeLeft,
  &.activeRight {
    &:before {
      position: absolute;
      top: -0.1rem;
      width: 1.6rem;
      height: 3.2rem;
      content: '';
      background: $color;
    }

    svg {
      color: $color;

      mix-blend-mode: difference;
    }
  }

  &.activeRight:before {
    right: -0.1rem;
  }

  & + & {
    border-top: 0.1rem solid $color;
  }
}

.toolbar {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}
