@import '@/platform/_constants';
@import './_constants';

$titleBarHeight: 2.8rem;

.button {
  float: left;
  width: $titleBarHeight;
  height: 100%;
  padding: 0;
  border: none;
  outline: none;
  background: none;

  &:hover,
  &.active {
    color: #f0f0f0 !important;
  }

  &.close:hover,
  &.close.active {
    background: #e20000;
  }

  &.maximize:hover,
  &.maximize.active,
  &.minimize:hover,
  &.minimize.active {
    background: $primaryColor;
  }

  i {
    font-size: 1.4rem;
    line-height: $titleBarHeight;
  }
}

.buttons {
  position: absolute;
  top: 0;
  left: 0;
  height: $titleBarHeight;
}

.title {
  font-family:
    Lucida Sans Unicode,
    Lucida Grande,
    sans-serif;
  font-size: 1.4rem;
  font-weight: inherit;
  line-height: $titleBarHeight;
  width: 100%;
  height: $titleBarHeight;
  margin: 0;
  text-align: center;
}

.titleBar {
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  font-size: 1.4rem;
  line-height: $titleBarHeight;
  height: $titleBarHeight;
  text-align: center;

  &,
  * {
    cursor: default;
    user-select: none;
  }

  &:not(.maximized) {
    border-top-left-radius: $windowRadius;
    border-top-right-radius: $windowRadius;

    .close {
      border-top-left-radius: $windowRadius;
    }
  }
}

// Modifiers

.frozen {
  pointer-events: none;
}

:global(.keyboardFocused) .button {
  &:focus {
    color: #f0f0f0 !important;
  }

  &.close:focus {
    background: #e20000;
  }

  &.maximize:focus,
  &.minimize:focus {
    background: $primaryColor;
  }
}

@media only screen and (max-width: $mobileBreakpoint) {
  .titleBar {
    display: none;
  }
}
