@import '../../constants';

.content {
  overflow: hidden;
  flex-grow: 1;
  user-select: none;
  height: 100%;

  &.frozen {
    display: none;
  }
}

.resize {
  position: absolute;
  right: -2px;
  bottom: -2px;
  width: 10px;
  height: 10px;
  cursor: nwse-resize;
  user-select: none;
}

.window {
  position: absolute;
  display: flex;
  flex-direction: column;
  opacity: 0.9;

  &:not(.maximized) {
    border-radius: 6px; /* Needed by box shadow */
    box-shadow: 0 0 10px #1f1f1f;

    .content {
      border-bottom-right-radius: 6px;
      border-bottom-left-radius: 6px;
    }
  }
}

// Modifiers

.active {
  opacity: 1;

  &.frozen {
    opacity: 0.8;
  }

  .content {
    user-select: inherit;
  }
}

.animated {
  transition-duration: 0.2s;
  transition-property: height, left, opacity, top, width;
  transition-timing-function: ease-in-out;
}

.minimized {
  opacity: 0;
}
