.paint {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  height: 100%;
  user-select: none;
}

/* ── Canvas viewport ───────────────────────────────────────────────────────── */

.viewport {
  position: relative;
  display: flex;
  overflow: hidden;
  flex: 1 1 auto;
  min-height: 0;
  padding: var(--spacing-20);
  background-color: #dce1eb;
  background-image: radial-gradient(circle, #c4cad7 0.1rem, transparent 0.1rem);
  background-size: 2rem 2rem;

  &.cursorCrosshair * {
    cursor: crosshair !important;
  }

  &.cursorText * {
    cursor: text !important;
  }

  &.cursorMove * {
    cursor: move !important;
  }

  &.cursorBucket * {
    cursor: cell !important;
  }

  &.cursorGrab * {
    cursor: grabbing !important;
  }
}

.viewportInner {
  position: relative;
  flex-shrink: 0;
  margin: auto;
  background-image:
    linear-gradient(
      45deg,
      #ccc 25%,
      transparent 25%,
      transparent 75%,
      #ccc 75%
    ),
    linear-gradient(45deg, #ccc 25%, #e8e8e8 25%, #e8e8e8 75%, #ccc 75%);
  background-position:
    0 0,
    0.8rem 0.8rem;
  background-size: 1.6rem 1.6rem;
  box-shadow:
    0 0.1rem 0.2rem rgba(0, 0, 0, 0.08),
    0 0.4rem 1.6rem rgba(0, 0, 0, 0.12),
    0 2.4rem 6.4rem rgba(0, 0, 0, 0.14);
}

.canvasLayer {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;

  image-rendering: pixelated;
}

.mainCanvas {
  position: relative;
  z-index: 1;
}

.overlayCanvas {
  z-index: 2;
  pointer-events: none;
}

.textOverlay {
  font-family: inherit;
  position: absolute;
  z-index: 4;
  left: 0;
  overflow: hidden;
  min-width: 6rem;
  min-height: 2rem;
  margin: 0;
  padding: 0 var(--spacing-4);
  resize: none;
  white-space: pre;
  color: inherit;
  border: 0.1rem dashed var(--primary-color);
  outline: 0;
  background: transparent;
}
