$backgroundColor: #111625;
$fontFamily: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
$primaryColor: #007ad8;
$secondaryColor: lighten($backgroundColor, 10%);
$textColor: lighten($backgroundColor, 80%);
$secondaryTextColor: darken($textColor, 20%);
$secondaryTextSize: 0.9em;
