.error {
  color: red;
}

.p {
  margin: 0;
  white-space: pre-wrap;
}

.stepNumber {
  padding: var(--spacing-4) var(--spacing-8);
  border: 0.1rem solid black;
  background: #007ad8;
}

.success {
  color: green;
}
