.error {
  color: red;
}

.p {
  margin: 0;
  white-space: pre-wrap;
}

.stepNumber {
  font-family: monospace;
  font-size: 1rem;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  border: 0.1rem solid black;
  background: #007ad8;
}

.success {
  color: green;
}
