p {
  margin: 0;
  white-space: pre-wrap;
}

.error {
  color: red;
}

.help p {
  margin: 1ch;

  &.command {
    margin: 0 0 0 2ch;

    &:last-child {
      margin-bottom: 1ch;
    }
  }
}

.stepNumber {
  font-family: monospace;
  font-size: 1rem;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  border: 0.1rem solid black;
  background: #007ad8;
}
