@import '@/platform/_constants.scss';

.error {
  color: red;
}

.p {
  margin: 0;
  white-space: pre-wrap;
}

.stepNumber {
  padding: $spacingXs $spacingS;
  border: 0.1rem solid black;
  background: #007ad8;
}

.success {
  color: green;
}
