@import '../../constants';

.code,
.lineNumbers,
.textarea {
  font-family: $fontFamily;
  font-size: $fontSize;
  line-height: $linHeight;
  white-space: pre-wrap;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

.code,
.textarea {
  @include scrollbar;

  padding: 0.5rem 0.7rem 0.5rem 5rem;
  outline: none;
  overflow-wrap: break-word;
  border: none;
  width: 100%;
  overflow-y: auto;
}

.editor {
  background: $backgroundSecondaryColor;
  color: $textSecondaryColor;
  position: relative;
}

.textarea {
  color: transparent;
  background: transparent;
  resize: none;
  caret-color: #f0f0f0;
  z-index: 1;
}
