@import '../../constants';

.code,
.textarea {
  @include scrollbar;

  font-family: $fontFamily;
  font-size: $fontSize;
  line-height: $lineHeight;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 6.5rem;
  overflow-y: auto;
  box-sizing: border-box;
  width: calc(100% - 6.5rem);
  padding: 0.5rem 0.7rem;
  white-space: pre-wrap;
  border: none;
  outline: none;

  overflow-wrap: break-word;
}

.editor {
  position: relative;
  color: $textSecondaryColor;
  background: $backgroundSecondaryColor;
}

.lineNumbers {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 2.5rem;
}

.toolbar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border-right: 0.1rem solid $borderColorPrimary;
}

.textarea {
  z-index: 1;
  resize: none;
  color: transparent;
  background: transparent;

  caret-color: #f0f0f0;
}
