@import '../../../../constants';

.aside {
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  flex: 0 0 5rem;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  color: $textColor;
}

.comments {
  margin-left: 0.4rem;
}

.footer {
  font-size: 1.4rem;
  margin: 0.7rem 0 1rem 0;
  color: $textSecondaryColor;
}

.main {
  flex-grow: 1;
}

.post {
  display: flex;
  width: 55rem;
  margin: 2rem auto 0 auto;
  color: $textColor;
  border: 0.1rem solid $borderColor;
  border-radius: 0.4rem;
  background: $backgroundSecondaryColor;

  &,
  * {
    cursor: pointer;
  }

  &:hover {
    border-color: darken($borderColor, 20%);
  }

  &.outdated {
    opacity: 0.5;

    filter: grayscale(100%);
  }
}

.title {
  font-weight: normal;
  margin: 1rem 1rem 1rem 0;
}

.thumbnail {
  background: $secondaryColor;
}
