@import './constants';

.caret {
  position: absolute;
  top: 0;
  width: 1.1ch;
  height: 100%;
  background: #4d4d4d;
}

.terminal {
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.8em;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  height: 100%;
  padding: 5px 8px;
  color: $text-color;
}

.userInput {
  position: relative;
  height: 1.2em;

  div + & {
    margin-top: 2px;
  }
}
