@import '../../constants';
@import 'constants';

$navBarHeight: 7.5rem;

* {
  user-select: none;
  cursor: default;
}

.body {
  display: flex;
  overflow: hidden;
  flex: 0 1 auto;
  height: calc(100% - #{$navBarHeight});
}

.player {
  display: flex;
  flex-direction: column;
  font-family: $fontFamily;
  font-size: 0.8em;
  height: 100%;
  color: $textColor;
}

.sidebar {
  width: $sidebarWidth;
  padding: 1.5rem;
}

// Modifiers

.hidden {
  display: none;
}
