@import '../../constants';
@import 'constants';

$navBarHeight: 7.5rem;

.body {
  display: flex;
  overflow: hidden;
  flex: 0 1 auto;
  height: calc(100% - #{$navBarHeight});
}

.player {
  font-family: $fontFamily;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: $textColor;

  &,
  * {
    cursor: default;
    user-select: none;
  }
}

.sidebar {
  width: $sidebarWidth;
  padding: 1.5rem;
}

// Modifiers

.hidden {
  display: none;
}
