@import '../../../../constants';

.button {
  $color: #b8babc;

  font-size: inherit;
  display: inline-block;
  padding: 0;
  vertical-align: middle;
  color: $color;
  border: none;
  outline: none;
  background: none;
  width: 100%;
  height: 3rem;

  &:disabled {
    opacity: 0.5;
  }

  &:not(:disabled) {
    &:focus,
    &:hover {
      background: lighten($backgroundPrimaryColor, 10%);
    }

    &:active {
      color: #cc7832;
    }
  }
}
