$primaryColor: #cc7832;
$secondaryColor: #007ad8;
$backgroundPrimaryColor: #45484a;
$backgroundSecondaryColor: #2b2b2b;
$backgroundTertiaryColor: #383a3d;
$borderColorPrimary: darken($backgroundPrimaryColor, 5%);
$borderColorTertiary: #606060;
$fontFamily: 'JetBrainsMono', monospace;
$fontSize: 1.2rem;
$lineHeight: 1.5em;
$textPrimaryColor: #c3c3c3;
$textSecondaryColor: #a3b7c6;
$textTertiaryColor: #70808c;

@font-face {
  font-family: 'JetBrainsMono';
  font-weight: 400;
  font-style: normal;

  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2')
      format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff')
      format('woff'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/ttf/JetBrainsMono-Regular.ttf')
      format('truetype');
}

@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 0.8rem;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: $backgroundTertiaryColor;

    &:hover {
      background-color: #646464;
    }
  }

  &::-webkit-scrollbar-track {
    border-radius: 0.5rem;
  }
}
