@import '../../_constants.scss';

.container {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 2rem);
  margin: 2rem 0 0 -1rem;
}

.dataset {
  line-height: 13rem;
  position: relative;
  width: 13rem;
  height: 13rem;
  margin: 1.2rem;
  padding: 0;
  text-align: center;
  border: 0;
  outline: none;
  background: #080808;

  &:hover {
    filter: brightness(115%);
  }

  &.thd::after {
    font-weight: bold;
    line-height: 2rem;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    padding: 0 0.3rem;
    content: '3D';
    pointer-events: none;
    border-radius: 100%;
    background: $color;
  }

  img {
    height: 100%;
    cursor: pointer;
  }

  span {
    display: block;
    overflow: hidden;
    width: calc(100% - 1rem);
    margin: 0 auto;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.progressRing {
  margin: auto;
}

.selectDataset {
  overflow-y: auto;
  padding: 6rem;

  &::-webkit-scrollbar {
    width: 0.8rem;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: $radius;
    background: lighten($backgroundColor, 15%);
  }

  &::-webkit-scrollbar-track {
    border-radius: $radius;
  }

  h1 {
    margin-top: 0;
  }
}
