.currentTime {
  margin-left: 15px;
}

.currentTime,
.duration {
  font-size: 0.8em;
  line-height: 16px;
  margin: auto 10px;
  user-select: none;
  text-align: center;
}

.playlistButton {
  font-size: 14px;
  line-height: 16px;
  flex: 0 0 1ch;
  margin-right: 15px;
}

.seekBar {
  display: flex;
  max-width: 650px;
  margin: 0 auto;
}
