.currentTime {
  margin: 0 10px 0 15px;
}

.currentTime,
.duration {
  font-size: 0.8em;
  line-height: 16px;
  text-align: center;
}

.playlistButton {
  font-size: 14px;
  line-height: 16px;
  flex: 0 0 1ch;
  margin-left: 0;
}

.time {
  display: flex;
}

// Modifiers

.max {
  position: relative;
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
}

.min {
  .currentTime,
  .duration {
    line-height: 28px;
  }

  .playlistButton {
    line-height: 28px;
  }
}
