@import '../../../../constants';

.button {
  padding: 3px 5px;
  width: 32px;
  height: 32px;
  font-size: 20px;
  display: block;
  border-radius: $radius;
  background: $background-color;
  color: $color;
  outline: none;
  border: 1px solid $color;

  &:active:hover {
    background: lighten($background-color, 25%);
  }

  &:hover {
    background: lighten($background-color, 15%);
  }
}

.toolbar {
  position: absolute;
  top: calc(50%);
  right: 10px;
  transform: translateY(-50%);
}
