@import '../../../../constants';

.button {
  padding: 0.3rem 0.5rem;
  width: 3.2rem;
  height: 3.2rem;
  font-size: 2rem;
  display: block;
  border-radius: $radius;
  background: $backgroundColor;
  color: $color;
  outline: none;
  border: 0.1rem solid $color;

  &:active:hover {
    background: lighten($backgroundColor, 25%);
  }

  &:hover {
    background: lighten($backgroundColor, 15%);
  }
}

.toolbar {
  position: absolute;
  top: calc(50%);
  right: 1rem;
  transform: translateY(-50%);
}
