@import '../../constants';

.button {
  float: left;
  width: 2.2rem;
  height: 100%;
  padding: 0;
  border: none;
  outline: none;
  background: none;

  &.close:hover {
    background: #e20000;
  }

  &.minimize:hover,
  &.maximize:hover {
    background: $primaryColor;
  }

  &:hover {
    color: #f0f0f0 !important;
  }

  i {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
}

.buttons {
  position: absolute;
  top: 0;
  left: 0;
  height: 2.2rem;
}

.movingArea {
  width: 100%;
  height: 2.2rem;
}

.titlebar {
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  font-size: 1.4rem;
  line-height: 2.2rem;
  height: 2.2rem;
  text-align: center;

  &,
  * {
    cursor: default;
    user-select: none;
  }

  &:not(.maximized) {
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;

    .close {
      border-top-left-radius: 0.6rem;
    }
  }
}

// Modifiers

.frozen {
  pointer-events: none;
}

@media only screen and (max-width: $mobileBreakpoint) {
  .titlebar {
    border-radius: 0 !important;
  }
}
