@import '../../../../constants';

.aside {
  color: $textSecondaryColor;
  display: flex;
  flex: 0 0 70px;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.comments {
  margin-left: 3px;
}

.footer {
  color: $textSecondaryColor;
  font-size: 0.9em;
  margin: 7px 0 10px 0;
}

.main {
  flex-grow: 1;
}

.post {
  background: $backgroundSecondaryColor;
  color: $textColor;
  cursor: pointer;
  display: flex;
  border: 1px solid $borderColor;
  border-radius: 4px;
  margin: 20px auto 0 auto;
  width: 550px;

  &:hover {
    border-color: darken($borderColor, 20%);
  }

  &.outdated {
    filter: grayscale(100%);
    opacity: 0.5;
  }
}

.title {
  font-weight: normal;
  margin: 10px 10px 10px 0;
}

.thumbnail {
  background: $secondaryColor;
}
