@import '../../../../constants';

.anchor {
  float: right;
}

.details {
  color: $textSecondaryColor;
  font-size: 0.7em;
  margin: 7px 7px 0 0;
}

.subreddit {
  color: $textColor;
  font-weight: bold;
  margin-right: 8px;
}
