.annotation {
  font: inherit;
  overflow: hidden;
  max-width: 25ch;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: inherit;
  border: none;
  outline: none;
  background: transparent;
  text-shadow: #000 0 0 0.1rem;

  filter: drop-shadow(0 0 0.1rem #000);

  & + & {
    margin-top: 0.5rem;
  }
}

.contextMenu {
  font-family: monospace;
  font-size: 1.3rem;
  min-width: 13rem;
  color: var(--dv-color);
  border: 0.1rem solid white;
  border-radius: var(--radius-xs);
  background-color: var(--dv-bg);

  li {
    &:first-child {
      margin-top: var(--spacing-xs);
    }

    &:last-child {
      margin-bottom: var(--spacing-xs);
    }
  }

  button {
    line-height: 2rem;
    padding: var(--spacing-xs) var(--spacing-m) var(--spacing-xs) 0;

    &[aria-current='true'] {
      background: hsl(from var(--dv-bg) h s calc(l + 20));
    }
  }
}

.contextMenuIcon {
  display: inline-block;
  width: 2.5rem;
  padding-left: var(--spacing-xs);
  text-align: center;
}

.overlayBottomLeft {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.overlayBottomRight {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  text-align: right;
}

.overlayTopLeft {
  position: absolute;
  top: 4rem;
  left: 1rem;
}

.overlayTopRight {
  position: absolute;
  top: 1rem;
  right: 1rem;
  text-align: right;
}
