@import '../../constants';

$overlay-margin: 1rem;

.annotation {
  text-shadow: #000 0 0 0.1rem;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 22ch;
  filter: drop-shadow(0 0 0.1rem #000);

  & + p {
    margin-top: 0.5rem;
  }
}

.contextMenu {
  font-family: $fontFamily;
  color: $color;
  background-color: $backgroundColor;
  border: 0.1rem solid white;
}

.overlayBottomLeft {
  position: absolute;
  bottom: $overlay-margin;
  left: $overlay-margin;
}

.overlayBottomRight {
  position: absolute;
  bottom: $overlay-margin;
  right: $overlay-margin;
  text-align: right;
}

.overlayTopLeft {
  position: absolute;
  top: 4rem;
  left: $overlay-margin;
}

.overlayTopRight {
  position: absolute;
  top: $overlay-margin;
  right: $overlay-margin;
  text-align: right;
}
