@import 'constants';

.body {
  flex-grow: 1;
  overflow-y: scroll;
  padding: 5px 15px 20px 15px;
  position: relative;
}

.header {
  color: $reddit;
  display: flex;
  justify-content: space-between;
}

.path {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}

.reddit {
  display: flex;
  font-family: Helvetica, sans-serif;
  height: 100%;
}

.sidebar {
  flex: 0 0 auto;
  overflow-y: auto;

  .logo {
    color: $reddit;
    font-size: 100px;
    text-align: center;
  }
}
