@import 'constants';

.body {
  flex-grow: 1;
  overflow-y: scroll;
  padding: 5px 15px 20px 15px;
  position: relative;
}

.header {
  color: $reddit;
  display: flex;
  justify-content: space-between;
}

.path {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}

.reddit {
  display: flex;
  font-family: Helvetica, sans-serif;
  height: 100%;
}

.sidebar {
  flex: 0 0 auto;
  overflow-y: auto;

  ul {
    padding-left: 15px;
  }

  .logo {
    color: $reddit;
    font-size: 100px;
    text-align: center;
  }

  .menu {
    background: white;
    border: 1px solid lightgrey;
    border-radius: 4px;
    color: black;
    margin-left: 20px;
    padding: 20px;

    button {
      font-size: 1em;
    }

    li {
      line-height: 1.5em;
      list-style-type: none;
    }
  }
}
