@import '../../../../_constants';

.cursor {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 1.25em;
  border-right: 0.1rem solid;
}

.segment {
  position: absolute;
  z-index: -1;
  display: inline-block;
  height: $lineHeight;
  margin-top: -0.125em;

  filter: brightness(0.3);
}
