.dicomViewerTitleBar {
  color: var(--dv-color);
}

.dicomViewerWindow {
  border-color: black;
  background: black;
}

.dicomViewer {
  font-family: monospace;
  font-size: 1.3rem;
  position: relative;
  display: flex;
  height: 100%;
  color: var(--dv-color);

  * {
    user-select: none;
  }
}

.button {
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: var(--spacing-4) var(--spacing-8);
  color: var(--dv-color);
  border: 0.1rem solid var(--dv-color);
  border-radius: var(--radius-4);
  outline: none;
  background: var(--dv-bg);

  &:active:hover {
    background: hsl(from var(--dv-bg) h s calc(l + 25));
  }

  &:hover {
    background: hsl(from var(--dv-bg) h s calc(l + 20));
  }
}

.error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
}
