@import 'constants';

* {
  user-select: none;
}

.dicomViewer {
  font-family: $fontFamily;
  font-size: 1.3rem;
  display: flex;
  height: 100%;
  color: $color;
  position: relative;
}

.button {
  background: $backgroundColor;
  color: $color;
  border-radius: $radius;
  outline: none;
  border: 0.1rem solid $color;
  padding: 0.3rem 0.5rem;
  position: absolute;
  top: 1rem;
  left: 1rem;

  &:active:hover {
    background: lighten($backgroundColor, 25%);
  }

  &:hover {
    background: lighten($backgroundColor, 15%);
  }
}

.error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
}
