@import '@/platform/_constants.scss';

.colorWindow {
  margin: 0 $spacingS;
}

.container {
  margin: 0;
  padding-left: $spacingXs;
  list-style: none;

  li {
    display: flex;
    align-items: center;
    height: 1.7rem;
  }
}

.addIcon {
  font-size: 1.5rem;
  cursor: pointer;
}

.trashIcon {
  font-size: 1.1rem;
  cursor: pointer;
}
