.colorWindow {
  margin: 0 0.8rem;
}

.container {
  margin: 0;
  padding-left: 0.3rem;
  list-style: none;

  li {
    display: flex;
    align-items: center;
    height: 1.7rem;
  }
}

.addIcon {
  font-size: 1.5rem;
  cursor: pointer;
}

.trashIcon {
  font-size: 1.1rem;
  cursor: pointer;
}
