@import '../../constants';

.button {
  font-family: $fontFamily;
  font-size: inherit;
  display: inline-block;
  padding: 0;
  vertical-align: middle;
  color: $textColor;
  border: none;
  outline: none;
  background: none;

  & + & {
    margin-left: 15px;
  }

  &:not(:disabled) {
    &:hover {
      color: lighten($textColor, 15%);
    }

    &:active {
      color: $primaryColor;
    }

    &:active,
    &.checked {
      &:hover {
        color: lighten($primaryColor, 15%);
      }
    }
  }

  &.checked {
    color: $primaryColor;
  }
}
