@import '../../constants';

.button {
  font-size: inherit;
  display: inline-block;
  padding: 0;
  vertical-align: middle;
  color: $textColor;
  border: 0;
  outline: 0;
  background: transparent;

  & + & {
    margin-left: 15px;
  }

  &:not(:disabled) {
    &:hover {
      color: lighten($textColor, 15%);
    }

    &:active,
    &.checked {
      color: $primaryColor;

      &:hover {
        color: lighten($primaryColor, 15%);
      }
    }
  }
}
