@import '@/platform/_constants.scss';

.button {
  @include clearButton;

  font: inherit;
  line-height: 2rem;
  box-sizing: border-box;
  width: 100%;
  padding: $spacingXs $spacingM $spacingXs 0;
}

.icon {
  display: inline-block;
  width: 2.5rem;
  padding-left: $spacingXs;
  text-align: center;
}

.item {
  list-style: none;

  &:first-child {
    margin-top: $spacingXs;
  }

  &:last-child {
    margin-bottom: $spacingXs;
  }
}

.title {
  display: inline-block;
}

// Modifiers

.active {
  background: lighten($backgroundColor, $lightenAmountLevel1);
}
