@import '@/platform/_constants.scss';

.contextMenu {
  position: fixed;
  z-index: 1000;
  overflow: auto;
  box-sizing: border-box;
  user-select: none;

  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}
