@import '@/platform/_constants.scss';

.contextMenu {
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  font-size: 1.3rem;
  position: fixed;
  z-index: 1000;
  min-width: 12rem;
  margin: 0;
  padding: 0;
  user-select: none;
  color: $textColor;
  border-radius: $radiusXs;
  background: $backgroundColor;
}
