@import url('https://fonts.googleapis.com/css?family=Kalam');

.textarea {
  border: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
  resize: none;
  outline: none;
  font-family: 'Kalam', cursive;
  font-size: 1.5em;
  background: #fff59c;
}
