@font-face {
  font-family: 'JetBrainsMono';
  font-weight: 400;
  font-style: normal;

  src: url('/JetBrainsMono-Regular.woff2') format('woff2');
}

a,
a:hover,
a:focus,
a:active {
  color: inherit;
}

body {
  font-size: 1.6rem;
  margin: 0;
}

html {
  font-size: 10px;
}

img {
  user-select: none;

  -webkit-user-drag: none;
}

//*:focus {
//  outline: 4px solid red !important;
//}
