.barPreview {
  width: 148px;
  height: 15px;
  margin-bottom: 1rem;
}

.button {
  font-size: 2rem;
  display: block;
  width: 3.2rem;
  height: 3.2rem;
  color: var(--dv-color);
  border: 0.1rem solid var(--dv-color);
  border-radius: var(--radius-4);
  outline: none;
  background: transparent;

  &:active:hover {
    background: hsl(from var(--dv-bg) h s calc(l + 25));
  }

  &:hover {
    background: hsl(from var(--dv-bg) h s calc(l + 20));
  }
}

.graphPreview {
  width: 148px;
  height: 100px;
  margin-bottom: 1rem;
}

.colorPalette {
  position: absolute;
  top: calc(50%);
  right: 1rem;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.6);

  &.open {
    padding: var(--spacing-8);
    border: 0.1rem solid var(--dv-color);
    border-radius: var(--radius-4);

    .button {
      margin-top: calc(-1 * var(--spacing-8));
      margin-left: calc(-1 * var(--spacing-8));
      border: none;
    }
  }
}
