@import '../../constants';

.description,
.header {
  margin: 0;
}

.description {
  margin-top: 1ch;
  text-align: justify;
  color: $secondary-color;
}

.entry {
  margin: 1ch;

  & + & {
    margin-top: 2ch;
  }
}

.location {
  margin-left: 1ch;
}

.period {
  float: right;
}
