.flex {
  display: flex;
}

.controls {
  flex-grow: 1;
}

.musicInfo {
  line-height: 20px;
  display: block;
  overflow: hidden;
  flex: 0 0 20px;
  margin: 0 15px;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}
