@import '@/platform/_constants.scss';
@import '../../_constants.scss';

.key {
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 1.3rem;
  display: inline-block;
  box-sizing: border-box;
  height: 1.3rem;
  margin: auto 0;
  padding: 0 $spacingXs;
  white-space: nowrap;
  color: lighten($backgroundPrimaryColor, 10%);
  border-radius: $radiusXxs;
  background-color: #b8babc;
  box-shadow: 0.2rem 0.2rem black;
}

.plus {
  margin: 0 0.5ch;
}
