@import '../../platform.constants';

.window {
  position: fixed;
  display: flex;
  flex-direction: column;
  opacity: 0.9;

  &.active {
    opacity: 1;

    .content {
      user-select: inherit;
    }
  }

  &.animate {
    transition: all 0.2s ease-in-out;
  }

  &.minimized {
    opacity: 0;
  }

  &:not(.maximized) {
    border-radius: 6px; /* Needed by box shadow */
    box-shadow: 0 0 10px #1f1f1f;

    .close {
      border-top-left-radius: 6px;
    }

    .content {
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
    }

    .titlebar {
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }
  }

  .content {
    flex-grow: 1;
    overflow: hidden;
    position: relative;
    user-select: none;
  }

  .resize {
    width: 10px;
    height: 10px;
    position: absolute;
    right: -2px;
    bottom: -2px;
    cursor: nwse-resize;
    user-select: none;
  }

  .titlebar {
    height: 22px;
    text-align: center;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-size: 0.9em;

    .buttons {
      position: absolute;
      top: 0;
      left: 0;
      height: 22px;

      .button {
        width: 22px;
        height: 100%;
        float: left;

        &.close {
          &:hover {
            background: #e20000;
          }

          i {
            margin-top: 0;
          }
        }

        &.minimize:hover,
        &.maximize:hover {
          background: $primary-color;
        }

        &:hover {
          color: #f0f0f0;
        }

        i {
          margin-top: 1px;
          font-size: 14px;
          line-height: 22px;
        }
      }
    }

    .title {
      line-height: 22px;
      cursor: default;
    }
  }

  .titlebar,
  .titlebar * {
    user-select: none;
    cursor: default;
  }
}
