@import '../../../../platform/constants';
@import '../../constants';

$footerHeight: 7.7rem;

.body {
  display: flex;
  overflow: hidden;
  flex: 0 1 100%;
}

.footer {
  flex: 0 0 $footerHeight;
}

.musics {
  flex: 1 1 auto;
}

.player {
  font-family: $fontFamily;
  font-size: 1.3rem;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: $textColor;

  &,
  * {
    cursor: default;
    user-select: none;
  }
}

.sidebar {
  flex: 0 0 12rem;
  padding: 1.5rem;
  background-color: $backgroundColor;
}

// Modifiers

.hidden {
  display: none;
}

@media only screen and (max-width: $mobileBreakpoint) {
  .sidebar {
    position: absolute;
    z-index: 1;
    top: 4rem;
    bottom: $footerHeight;
    left: 0;
  }
}
