@import '@/platform/_constants';
@import '../../_constants';

$sidebarWidth: 19rem;
$transitionDuration: 0.3s;

.overlay {
  @include clearButton;

  position: absolute;
  z-index: 1;
  top: 0;
  right: 100%;
  bottom: 0;
  left: calc(-100% + #{$sidebarWidth});
  transition:
    opacity,
    left $transitionDuration;
  opacity: 0;
  background: rgba(0, 0, 0, 50%);

  &.visible {
    right: 0;
    left: $sidebarWidth;
    opacity: 1;
  }
}

.sidebar {
  box-sizing: border-box;
  width: $sidebarWidth;
  padding: 1.5rem;
  background-color: $backgroundColor;

  &.mobile {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: -100%;
    transition: all $transitionDuration;
    opacity: 0;

    &.visible {
      left: 0;
      opacity: 1;
    }
  }
}
