@import '../constants';

.buttonLink {
  background: none;
  border: none;
  color: inherit;
  font-family: $fontFamily;
  outline: none;
  padding: 0;

  &:not([disabled]) {
    cursor: pointer;
  }

  &:hover:not([disabled]) {
    text-decoration: underline;
  }
}
