@import '../constants';

.buttonLink {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font-family: $fontFamily;
  outline: none;
  padding: 0;

  &:hover {
    text-decoration: underline;
  }
}
