@import '../../../../constants';

.jamendoLink {
  font-size: 1.2rem;
  display: block;
  margin-top: 0.5rem;
  cursor: pointer;
  text-decoration: none;

  &,
  &:active,
  &:hover,
  &:focus {
    color: $primaryColor;
  }

  &:hover {
    text-decoration: underline;
  }
}
