@import '../../../../constants';
@import '../../constants';

.musicList {
  width: calc(100% - #{$sidebarWidth});
  margin: 0.5rem 1.5rem 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;

  .header {
    flex: 0 0 auto;
    padding-right: 1.8rem;

    & > div {
      display: flex;
      justify-content: space-between;

      .select {
        color: $textColor;
        border-color: $secondaryColor;
        font-family: $fontFamily;
      }

      h2 {
        margin: auto 0;
      }
    }

    table {
      width: 100%;
      margin-top: 1rem;

      th {
        padding: 0.3rem 1.5rem 1rem 0;
        text-align: left;
      }
    }
  }

  .overflow {
    overflow-y: auto;
    overflow-x: hidden;
    flex-grow: 1;

    &::-webkit-scrollbar {
      width: 0.8rem;
    }

    &::-webkit-scrollbar-thumb {
      background: $secondaryColor;
      border-radius: 0.5rem;
    }

    &::-webkit-scrollbar-track {
      border-radius: 0.5rem;
    }
  }

  table {
    width: calc(100% - 1rem);
    border-collapse: collapse;
    table-layout: fixed;

    td {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      position: relative;
      height: 4.6rem;
      user-select: text;
      padding-right: 1.5rem;
    }

    td:last-child,
    th:last-child {
      text-align: right;
      padding-right: 0;
    }

    tr {
      border-bottom: 0.1rem solid lighten($backgroundColor, 5%);
      color: $textColor;

      .colAlbum {
        width: 20%;
      }

      .colArtist {
        width: 20%;
      }

      .colDuration {
        width: 9%;
        padding-right: 1rem;
      }

      .colPreview {
        width: 3.2rem;
        padding-left: 0.7rem;
      }

      .colRelease {
        width: 15%;
      }
    }

    tbody tr {
      &.active {
        color: $primaryColor;

        .inlineMusicPreview {
          background-color: transparent;
          background-image: none !important;

          .previewIcon {
            display: inherit;
          }
        }
      }

      &.active:hover .inlineMusicPreview {
        i:hover:not(:active) {
          color: lighten($primaryColor, 10%);
        }
      }

      &:hover {
        background: lighten($backgroundColor, 2%);

        .inlineMusicPreview {
          background-color: transparent;
          background-image: none !important;

          .previewIcon {
            display: inherit;
          }

          i:active {
            color: $primaryColor;
          }

          i:hover:not(:active) {
            color: lighten($textColor, 10%);
          }
        }
      }

      .inlineMusicPreview {
        width: 3.2rem;
        height: 3.2rem;
        background-size: 3.2rem;
        background-repeat: no-repeat;
        text-align: center;

        .previewIcon {
          display: none;
          line-height: 3.2rem;
          font-size: 3.2rem;
        }
      }
    }
  }
}
