.teraviaTitleBar {
  color: #508a94;
}

.teraviaWindow {
  border-color: hsl(from #1a1d1e h s calc(l - 5));
  background: #1a1d1e;
}

.iframe {
  border: none;
}

.inactive {
  pointer-events: none;
}
