.teraviaTitleBar {
  color: #508a94;
}

.teraviaWindow {
  $background: #1a1d1e;

  border-color: darken($background, 5%);
  background: $background;
}

.iframe {
  border: none;
}

.inactive {
  pointer-events: none;
}
