.blogTitleBar {
  color: #24292e;
}

.blogWindow {
  border-color: hsl(from white h s calc(l - 5));
  background: white;
}

@media (prefers-color-scheme: dark) {
  .blogTitleBar {
    color: #decebe;
  }

  .blogWindow {
    border-color: hsl(from #393939 h s calc(l - 5));
    background: #393939;
  }
}

.iframe {
  border: none;
}

.inactive {
  pointer-events: none;
}
