@import '../../../../constants';

.jamendoLink {
  font-size: 0.9em;
  display: block;
  margin-top: 5px;
  text-decoration: none;

  &,
  &:active,
  &:hover,
  &:focus {
    color: $primaryColor;
  }

  &:hover {
    text-decoration: underline;
  }
}
