@import '../../constants';

.command {
  display: inline-block;
  width: 12ch;
  margin-top: 0;
}

.description {
  color: $secondary-color;
}

.help p {
  margin: 0 0 0 2ch;

  &:first-child {
    margin: 1ch;
  }

  &:last-child {
    margin-bottom: 1ch;
  }
}
