a,
a:hover,
a:focus,
a:active {
  color: inherit;
}

body {
  margin: 0;
  font-size: 1.6rem;
  line-height: 1.2;
}

html {
  font-size: 10px;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}
