@import '../../constants';

.defaultIcon,
.icon {
  vertical-align: top;

  &:not(.active) {
    filter: grayscale(100%);
  }
}

.defaultIcon {
  color: $reddit;
  font-size: 1.2em;
  font-weight: normal;
}

.icon {
  border-radius: 0.6em;
  height: 1.2em;
}

.iconContainer {
  display: inline-block;
  margin: 0 0.3em 0;
  width: 20px;
}
