.redditTitleBar {
  color: var(--reddit);
}

.redditWindow {
  border-color: hsl(from #fbfbfb h s calc(l - 5));
  background: #fbfbfb;
}

.body {
  position: relative;
  overflow-y: scroll;
  flex-grow: 1;
  padding: var(--spacing-8) var(--spacing-12) var(--spacing-20)
    var(--spacing-12);

  scroll-behavior: smooth;
}

.reddit {
  font-family: var(--font-family), sans-serif;
  display: flex;
  height: 100%;
}

.sidebar {
  flex: 0 0 23.7rem;
}
