@import './_constants.scss';

.body {
  position: relative;
  overflow-y: scroll;
  flex-grow: 1;
  padding: 0.5rem 1.5rem 2rem 1.5rem;

  scroll-behavior: smooth;
}

.reddit {
  font-family: $fontFamily;
  display: flex;
  height: 100%;
}

.sidebar {
  flex: 0 0 23.7rem;
}
