@import '@/platform/_constants.scss';
@import './_constants.scss';

.redditWindow {
  $background: #fbfbfb;

  border-color: darken($background, 5%);
  background: $background;
}

.body {
  position: relative;
  overflow-y: scroll;
  flex-grow: 1;
  padding: $spacingS $spacingM $spacingL $spacingM;

  scroll-behavior: smooth;
}

.reddit {
  font-family: $fontFamily;
  display: flex;
  height: 100%;
}

.sidebar {
  flex: 0 0 23.7rem;
}
