@import '../../constants';

.console {
  position: relative;
  outline: none;
}

.logs {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: $toolbarWidth;
}

.toolbar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: $toolbarWidth;
}
