@import '../../constants';

.console {
  position: relative;
  outline: none;
}

.header {
  font-size: 1.4rem;
  line-height: 2.5rem;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  box-sizing: border-box;
  height: 2.5rem;
  padding-left: 2.5rem;
  color: $textPrimaryColor;
  border-top: 0.1rem solid $borderColorPrimary;
  border-bottom: 0.1rem solid $borderColorPrimary;
  background: $backgroundPrimaryColor;
}

.toolbar {
  position: absolute;
  top: 2.5rem;
  bottom: 0;
  left: 0;
  border-right: 0.1rem solid $borderColorPrimary;
  box-sizing: border-box;
}
