@import '../../_constants.scss';

.console {
  position: relative;
  display: flex;
  overflow: hidden;
  outline: none;
}

.logs {
  flex: 1 1 100%;
}

.separator {
  flex: 0 0 1rem;
  box-sizing: border-box;
  cursor: row-resize;
  color: $textPrimaryColor;
  border-right: 0.1rem solid $borderColorPrimary;
  border-left: 0.1rem solid $borderColorPrimary;
  background: $backgroundPrimaryColor;
}

.toolbar {
  flex: 0 0 $toolbarWidth;
}
