@import '../../../../_constants.scss';

.activeLine {
  color: $textPrimaryColor;
}

.lineNumbers {
  font-family: $fontFamily;
  font-size: $fontSize;
  line-height: $lineHeight;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0.5rem 0.7rem;
  user-select: none;
  text-align: right;
  white-space: pre-wrap;
  color: $textTertiaryColor;
  border-right: 0.1rem solid $borderColorTertiary;
  background: $backgroundTertiaryColor;

  & > * {
    display: block;
  }
}
