$fontFamily: Helvetica, sans-serif;
$backgroundColor: rgba(0, 0, 0, 0.9);
$darkGrey: #333333;
$grey: #404040;
$lightGrey: #4d4d4d;
$mobileBreakpoint: 1024px;
$primaryColor: #007ad8;
$textColor: #efefef;
$lightenAmountLevel1: 20%;
$lightenAmountLevel2: 25%;
$lightenAmountLevel3: 30%;

@mixin clearButton {
  text-align: inherit;
  color: inherit;
  border: none;
  outline: none;
  background: none;
}
