$fontFamily:
  Lucida Sans Unicode,
  Lucida Grande,
  sans-serif;
$backgroundColor: rgba(0, 0, 0, 0.9);
$darkGrey: #333333;
$grey: #404040;
$lightGrey: #4d4d4d;
$mobileBreakpoint: 1024px;
$primaryColor: #007ad8;
$textColor: #efefef;
$lightenAmountLevel1: 20%;
$lightenAmountLevel2: 25%;
$lightenAmountLevel3: 30%;

$radiusXxs: 0.2rem;
$radiusXs: 0.4rem;
$radiusS: 0.8rem;

$spacingXs: 0.4rem;
$spacingS: 0.8rem;
$spacingM: 1.2rem;
$spacingL: 2rem;
$spacingXl: 3.2rem;

@mixin clearButton {
  text-align: inherit;
  color: inherit;
  border: none;
  outline: none;
  background: none;
}
