@import '../../constants';

.item {
  line-height: 20px;
  height: 20px;
  padding: 3px 10px 3px 0;
  list-style: none;

  &,
  * {
    cursor: pointer;
  }

  &:first-child {
    margin-top: 4px;
  }

  &:hover {
    background: lighten($backgroundColor, 15%);
  }

  &:last-child {
    margin-bottom: 4px;
  }

  .icon {
    display: inline-block;
    width: 25px;
    padding-left: 3px;
    text-align: center;
  }

  .title {
    display: inline-block;
  }
}
