.desktop {
  position: relative;
  flex-grow: 1;
  flex-shrink: 1;
  height: 100vh;
  overflow: hidden;
}

.selection {
  position: fixed;
  border: 1px solid #0089ff;
  background: rgba(0, 114, 255, 0.4);
  display: none;
}
