.taskBar {
  z-index: 999;
  overflow: hidden;
  flex-basis: var(--taskbar-width);
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  height: fit-content;
  color: var(--text-color);
}

@media only screen and (max-width: 1024px) {
  .taskBar {
    display: none;
  }
}

@media only screen and (min-width: 1024.1px) {
  .taskBar {
    display: flex;
  }
}
