.icon {
  margin-bottom: var(--spacing-4);
}

.loading {
  animation: loading 1s 0s ease-in-out infinite;
}

.runIndicator {
  position: absolute;
  right: var(--spacing-12);
  bottom: 0.6rem;
  left: var(--spacing-12);
  height: 0.4rem;
  border-radius: var(--radius-2);
  background: var(--primary-color);
}

.task {
  color: inherit;
  outline: none;

  font-size: calc(var(--taskbar-width) * 0.6);
  line-height: var(--taskbar-width);
  position: relative;
  display: inline-block;
  flex: 0 0 6rem;
  width: var(--taskbar-width);
  height: var(--taskbar-width);
  text-align: center;
  border: 0.1rem solid transparent;
  border-right: 0;
  background: var(--background-color);

  &:first-child {
    border-top-left-radius: 8px;

    &:not(:hover) {
      border-top-right-radius: 8px;
    }
  }

  &:last-child {
    border-bottom-left-radius: 8px;

    &:not(:hover) {
      border-bottom-right-radius: 8px;
    }
  }

  &:hover {
    border-color: hsl(from var(--dark-grey) h s calc(l - 5));
  }

  &:hover,
  &.taskButtonActive {
    background: var(--dark-grey);
  }

  &.taskButtonActive {
    box-shadow: inset 0.5rem 0 var(--primary-color);
  }

  &.windowInstanceActive {
    background: var(--grey);

    &:hover {
      border-color: hsl(from var(--light-grey) h s calc(l - 5));
    }

    &:hover,
    &.taskButtonActive {
      background: var(--light-grey);
    }
  }
}

.contextMenu {
  font-size: 1.4rem;
  box-sizing: border-box;
  height: var(--taskbar-width);
  padding: var(--spacing-4);
  color: var(--text-color);
  border-radius: var(--radius-8);
  background: var(--background-color);

  button {
    line-height: 2rem;
    padding: var(--spacing-4) var(--spacing-20) var(--spacing-4)
      var(--spacing-8);
    border-radius: var(--radius-8);

    &[aria-current='true'] {
      background: hsl(from var(--background-color) h s calc(l + 20));
    }
  }
}

.contextMenuIcon {
  font-size: 1.6rem;
  display: inline-block;
  width: 2.5rem;
  padding-right: var(--spacing-8);
  text-align: center;
}

.tooltip {
  font-family: var(--font-family), sans-serif;
  font-size: 1.4rem;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
  height: var(--taskbar-width);
  margin: 0;
  padding: var(--spacing-8) var(--spacing-12) var(--spacing-8) var(--spacing-8);
  color: var(--text-color);
  border: 0.1rem solid hsl(from var(--dark-grey) h s calc(l - 5));
  border-left: 0;
  border-radius: 0 var(--radius-8) var(--radius-8) 0;
  background: var(--dark-grey);

  &.windowInstanceActive {
    border-color: hsl(from var(--light-grey) h s calc(l - 5));
    background: var(--light-grey);
  }
}

.tooltipBody {
  margin: 0;
  color: hsl(from var(--text-color) h s calc(l - 20));
}

@keyframes loading {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes runnin {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-0.6rem);
  }
}
