@import '../../../../platform/constants';

.currentTime {
  margin-left: 1.5rem;
}

.currentTime,
.duration {
  font-size: 1rem;
  line-height: 1.6rem;
  margin: auto 1rem;
  user-select: none;
  text-align: center;
}

.playlistButton {
  font-size: 1.4rem;
  line-height: 1.6rem;
  flex: 0 0 1ch;
  margin-right: 1.5rem;
}

.seekBar {
  display: flex;
  max-width: 65rem;
  margin: 0 auto;
}

@media only screen and (max-width: $mobileBreakpoint) {
  .playlistButton {
    display: none;
  }
}
