@import '../../_constants.scss';

.toolbar {
  overflow: hidden;
  box-sizing: border-box;
  padding: 0.4rem;
  text-align: center;
  border-right: 0.1rem solid $borderColorPrimary;
  background: $backgroundPrimaryColor;
}

.toolButton {
  & + & {
    margin-top: 0.2rem;
  }
}
