.toolbar {
  overflow: hidden;
  box-sizing: border-box;
  padding: var(--spacing-xs);
  text-align: center;
  border-right: 0.1rem solid var(--ce-border-primary);
  background: var(--ce-bg-primary);
}

.toolButton {
  & + & {
    margin-top: 0.2rem;
  }
}
